<h1>Create/Add a new recipe.</h1>

<form method="post" action="/recipes">
    <input name="name" type="text" placeholder="Name..." value=""/>
    <input name="ingredients" type="text" placeholder="Ingredients..." value=""/>
    <input name="cook_time" type="number" placeholder="Cook_time..." value=""/>
    <input type="submit" value="Create/Add recipe"/>
</form>