<form method="post" action="/recipes">
    <p>Inout recipy name: <input name="name" id="name"></p>
    <p>Inout recipy ingredients: <input name="ingredients" id="ingredients"></p>
    <p>Inout recipy cook time: <input name="cook_time" id="cook_time"></p>
    <button type="submit" id="submit">Submit</button>
</form>